*.o
*.a

*.d

.*.swp

.*
!.gitignore

docs/tutorial/**/*.c
docs/tutorial/**/*.cpp

docs/tutorial/**/model*/*
docs/tutorial/**/outdir/*

src/dmplc/dmpl-parser.cpp
src/dmplc/dmpl-parser.hpp
src/dmplc/dmpl-scanner.cpp
src/vrep/libDmplVrep.a

src/dmplc/dmplc
src/vrep/testExtApi

src/dmplc/remoteApi.so
src/dmplc/vrep.py
src/dmplc/vrepConst.py
