*.o
*.a

*.d

dmpl/docs/tutorial/*.c
dmpl/docs/tutorial/*.cpp

dmpl/src/dmplc/dmpl-parser.cpp
dmpl/src/dmplc/dmpl-parser.hpp
dmpl/src/dmplc/dmpl-scanner.cpp
dmpl/src/vrep/libDmplVrep.a

dmpl/src/dmplc/dmplc
dmpl/docs/tutorial/tutorial-01
dmpl/docs/tutorial/tutorial-02
dmpl/src/vrep/testExtApi
