<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="edu.cmu.sei.annex.dmpl.generator.actionSet"
            label="DMPL Annex Generator"
            visible="true">
         <menu
               id="menu.osate"
               label="OSATE"
               path="project">
            <groupMarker name="file.grp"/>
            <separator name="instance.grp"/>
            <separator name="general.grp"/>
         </menu>
 
        <menu
               id="menu.analyses"
               label="Analyses"
               path="menu.osate">
            <groupMarker name="top.grp"/>
            <groupMarker name="bottom.grp"/>
         </menu>           

         <menu
               id="menu.rsrc"
               label="Scheduling"
               path="menu.analyses/top.grp">
            <groupMarker name="stuff.grp"/>
         </menu>
                 
         <action
         	   id="edu.cmu.sei.annex.dmpl.generator.action.DMPLCodeGeneration"
               label="DMPL Code Generation"
               tooltip="Generate DMPL Code"
               icon="%Schedule.icon"
               disabledIcon="%Schedule.disabledIcon"
               class="edu.cmu.sei.annex.dmpl.generator.actions.AnnexDMPLGeneratorAction"
               menubarPath="menu.analyses/menu.DART/DART.grp"
               enablesFor="1">
         </action>
         <menu
               id="menu.DART"
               label="DART"
               path="menu.analyses/top.grp">
            <groupMarker
                  name="DART.grp">
            </groupMarker>
         </menu>
         <action
               class="edu.cmu.sei.annex.dmpl.generator.actions.VREPSimulationAction"
               disabledIcon="%Schedule.disabledIcon"
               enablesFor="1"
               icon="%Schedule.icon"
               id="edu.cmu.sei.annex.dmpl.generator.action.VREPSimulation"
               label="VREP Simulation"
               menubarPath="menu.analyses/menu.DART/DART.grp"
               tooltip="Run VREP Simulation">
         </action>
         <action
               class="edu.cmu.sei.annex.dmpl.generator.actions.LogicalVerificationAction"
               disabledIcon="%Schedule.disabledIcon"
               enablesFor="1"
               icon="%Schedule.icon"
               id="edu.cmu.sei.annex.dmpl.generator.action.LogicalVerification"
               label="Logical Verification"
               menubarPath="menu.analyses/menu.DART/DART.grp"
               tooltip="Perform logical verification with software model checking.">
         </action>
         <action
               class="edu.cmu.sei.annex.dmpl.generator.actions.StatisticalVerificationAction"
               disabledIcon="%Schedule.disabledIcon"
               enablesFor="1"
               icon="%Schedule.icon"
               id="edu.cmu.sei.annex.dmpl.generator.action.StatisticalVerification"
               label="Statistical Verification"
               menubarPath="menu.analyses/menu.DART/DART.grp"
               tooltip="Perform statistical verification with statistical model checking.">
         </action>      
      </actionSet>      
      </extension>
      
   <extension
   	   point="org.eclipse.ui.perspectiveExtensions">
   	   <perspectiveExtension
   		   targetID="org.osate.ui.perspective.AadlPerspective">
   		   <actionSet
   		 	   id="org.osate.analysis.resource.dmp.generator.actionSet"/>
   	   </perspectiveExtension>
   </extension>
      
      <extension
         id="ResourceAnnexDMPLGeneratorObjectMarker"
         name="Annex DMPL Generator Marker"
         point="org.eclipse.core.resources.markers">
         <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
         <persistent value="true"/>
      </extension>
</plugin>
